Search for protected monuments

<PowerSelect
  @searchEnabled={{true}}
  @search={{perform this.search}}
  @selected={{this.selected}}
  @loadingMessage="Loading..."
  @searchEnabled={{true}}
  @noMatchesMessage="No results"
  @searchMessage="Type to search"
  @onChange={{fn (mut this.selected)}} as |suggestion|>
    {{suggestion.naam}} - {{suggestion.locatie_samenvatting}}
</PowerSelect>

{{#if this.selected}}
{{log this.selected}}
  The following classified building has been selected:
  <ul>
    <li>Name: {{this.selected.naam}}</li>
    <li>Description: {{this.selected.korte_beschrijving}}</li>
    <li>Location: {{this.selected.locatie_samenvatting}}</li>
    <li>Is protected: {{this.selected.erfgoedwaarde}}</li>
    <li>Data manager: {{this.selected.dataverantwoordelijke.omschrijving}}</li>
    <li>Features of the building: 
      <ul>
        {{#each this.selected.kenmerkgroepen as |kenmerkgroepen|}}
        {{#each kenmerkgroepen.thesaurus as |thesaurus|}}
          <li>
            <AuLinkExternal href="{{thesaurus.uri}}" target="_blank">{{thesaurus.label}}</AuLinkExternal>
          </li>
        {{/each}}
        {{/each}}
      </ul>
    </li>
  </ul>
{{/if}}