{{page-title "Attachments"}}
<section>
  <Detail::Header
    @title={{this.model.designationObject.locationElementParcel.name}}
    @code={{this.model.id}}
    @status={{this.model.status}}
    @modelId={{this.model.id}}
    @user={{this.currentSession}}
  />

</section>