<div class="au-u-flex detail-header">
  <div class="au-u-flex au-u-flex--column">
    <div class="au-u-flex header-content">
      <h3><strong>{{@title}}</strong> - {{@code}}</h3>
      <span class="pill">
        <AuIcon @icon="circle" />
        {{@status}}
      </span>
    </div>

    <div class="bread-crumbs">
      <ul>
        <AuLink @icon="hierarchal-back" @route="requests">All applications</AuLink>
        <AuLink @route="detail" @model={{@modelId}}>Details</AuLink>
        <AuLink @route="attachments" @model={{@modelId}}>Attachments</AuLink>
        <AuLink @route="handling" @model="{{@modelId}}">Handling</AuLink>
      </ul>
    </div>
  </div>
  <AuButton @skin="primary" @alert="true" @icon="bin" @route="overview">Delete
    application</AuButton>
</div>